/******** global **********/

@import 'ionicons';

body {
  background-color: #0D0D18
}

body:not(.with-admin) .admin-only {
  display: none;
}

body:not(.without-admin) .not-admin {
  display: none;
}

.box {
  border-style: solid;
  border-width: 1px;
  margin: 10px;
  padding: 5px;
  display: block;
  background-color: #1C1E28;
  border-radius: 5px;
}

/******** devise **********/

.devise-form {
  margin: 0 auto;
  text-align: center;
  font-size: 22px;
}

.devise-button {
  width: 300px;
  height: 40px;
  border-radius: 4px;
  color: black;
  font-size: 20px;
}

.big-input {
  width: 300px;
  height: 40px;
  color: black;
  background-color: #0D0D18;
  color: #ffcb5e;
  padding: 4px;
  font-size: 20px;
  border-radius: 4px;
}

.check-box {
  width: 25px;
  height: 25px;
  margin-top: 15px;
  margin-right: 15px;
}




/******** player card **********/

.player-card {
  border-style: solid;
  display: inline-block;
  border-width: 1px;
  width: 250px;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  justify-content: center;
  box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.1),
              0px 0px 10px 10px rgba(45,78,255,0.15);
}

.player-pic {
  border-radius: 100px;
  border-style: solid;
  border-width: 2px;
  display: block;
  margin: auto;
  box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.1),
              0px 0px 10px 10px rgba(45,78,255,0.15);
}

.center-pic {
  margin: 0 auto;
}

.player-info {
  margin-top: 10px;
  border-color: #e54b4b;
  border-style: solid;
  border-width: 1px 0 0 0;
}

.user-box {
  border-style: solid;
  border-width: 1px;
  margin: 2px;
  margin-left: 15px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
  height: 30px;
  text-align: center;
}

.user-header {
  margin: 0px;
  font-weight: bold;
  margin-bottom: 2px;
}

.user-money {
  margin: 0;
  color: #e54b4b;
}

/************ best available ***********/

.best-available {
  display: inline-block;
  height: 160px;
  vertical-align:top;
  padding: 20px;

}

#best-av-label {
  margin-top: 0;
  margin-bottom: 4px;
}

@media only screen and (max-width : 620px) {
  .best-available {
    display: none;
  }
  #player-list-1 {
    display: none;
  }
}

@media only screen and (max-width : 800px) {

  #player-list-2 {
    display: none;
  }
}

@media only screen and (max-width : 1000px) {

  #player-list-3 {
    display: none;
  }
}

@media only screen and (max-width : 1170px) {

  #player-list-4 {
    display: none;
  }

}

@media only screen and (max-width : 1370px) {

  #player-list-5 {
    display: none;
  }

}



/*****************graphs*************/

.graph {
  border-style: solid;
  position: relative;
  display: inline-block;
  border-width: 1px;
  width: 260px;
  border-radius: 10px;
  margin: 10px;
  padding: 5px;
  justify-content: center;
  box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.1),
              0px 0px 10px 10px rgba(45,78,255,0.15);
}

.min-graph {
  display: none;
  font-size: 24px;
  margin-left: 22px;
  margin-right: 22px;
}

#maxgraph1 {
  color: #00c87c;
}
#maxgraph2 {
  color: #ffcb5e;
}

#maxgraph3 {
  color: #73629e;
}

#maxgraph4 {
  color: #28d5dc;
}

#graph-shortcuts {

  height: 30px;
  padding-left: 10px;
}

.minimize {
  position: absolute;
  right: 10px;
  font-size: 28px;
  z-index: 99;
}

@media only screen and (max-width : 1555px) {

  #graph4 {
    display: none;
  }

  #maxgraph4 {
    display: inline;
  }
}

@media only screen and (max-width : 1260px) {

  #graph3 {
    display: none;
  }

  #maxgraph3 {
    display: inline;
  }
}

@media only screen and (max-width : 965px) {

  #graph2 {
    display: none;
  }

  #maxgraph2 {
    display: inline;
  }
}

@media only screen and (max-width : 670px) {

  #graph1 {
    display: none;
  }

  #maxgraph1 {
    display: inline;
  }
}


/****************** miscellaneous **********/


.money {
  font-size: 25px;
  display: inline-block;
  margin-left: 5px;
}

.nomination-input {
  background-color: #1C1E28;
  font-size: 20px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  height: 30px;
  margin-right: 5px;
}


.num_field {
  display: inline-block;
}

.other-team {
  border-style: solid;
  border-width: 1px;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  vertical-align:top;
  display: inline-block;
  width: 320px;

}

.your-team {
  border-style: solid;
  border-width: 1px;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  vertical-align:top;
  display: inline-block;
  width: 320px;
}

input[type=number] {
  padding: 6px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 20px;
    background-color: white;
    color: black;
}

.nominate {
  padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
      background-color: #00C87C;
    border-radius: 5px;
    color: black;
}

.sell-button {
  margin-left: 10px;
  margin-right: 10px;
  box-sizing: border-box;
  background-color: #00C87C;
  border-radius: 5px;
  color: black;
  border-style: solid;
  border-width: 1px;
  width: 130px;
  height: 50px;
}

.sell-button:hover {
  background-color: #028955;
}

.cancel-auction {
  margin: 8px 0;
  box-sizing: border-box;
  background-color: #FF6560;
  border-radius: 5px;
  color: black;
  border-style: solid;
  border-width: 1px;
  width: 130px;
  height: 50px;
}

.cancel-auction:hover {
  background-color: #c14b49;
}

.bid-button {
  height: 50px;
  position: relative;
  top: -3px;
  padding: 12px 20px;
  margin: 0px 0;
  margin-bottom: 20px;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #00C87C;
  border-style: solid;
  border-width: 2px;
  border-color: #00C87C;
  font-weight: bold;
  color: #252832;
  width: 150px;
}

.bid-button:hover {
  background-color: #008e58;
  transition: background-color 1s linear;
  transition: color 1s linear;
  color: #14151E;
  border-color: #008e58;
}

.card-info {
  margin: 5px;
}

.line {
  height: 50px;
}

.bid-box {
  width: 300px;
  border-style: solid;
  border-width: 1px;
  margin: 10px;
  padding: 5px;
  display: inline-block;
  background-color: #1C1E28;
  border-radius: 5px;
  height: 200px;
  overflow-y: scroll;
}

.heading-label {
  margin-top: 5px;
  margin-left: 5px;
  margin-bottom: 0;
  color: #ffcb5e;
}

.team-header {
  margin: 0;
}

.under-list {
  margin-top: 3px;
  padding-left: 20px;
  padding-top: 2px;
  padding-right: 10px;
  border-style: solid;
  border-width: 1px 0 0px 0px;
  border-color: #e54b4b;
}

.blocks {
  display: inline-block;
  ol {
    margin: 0;
  }
}

#bid_amount {
  width: 90px;
  margin-left: 5px;
  margin-right: 10px;
  margin-top: 3px;
  margin-bottom: -5px;
  background-color: #14151E;
  color: white;
  height: 50px;
}

.remove {
  background-color: #FF6560;
  color: black;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
}

.remove:hover {
  background-color: #c14b49;
  transition: background-color 1s linear;
  transition: color 1s linear;
  color: #14151E;
  border-color: #c14b49;
}

.current-user {
  color: #ffcb5e;
}

#sell_player {
  display: inline-block;

}

#unnominate {
  display: inline-block;
}

#current-bid {
  color: #e54b4b;
}

#leading-bidder {
  color: #e54b4b;
}

#switcher {
  min-height: 600px;
}



/********************** nav bar ************************/

header {
	background: #fff;
	width: 100%;
	height: 40px;
	position: fixed;
	top: 0;
	left: 0;
	border-bottom: 4px solid #28d5dc;
	z-index: 100;
  background-color: #21242C;
}

.logo-header {
  margin-top: 0px;
	float: left;
  margin-left: 5px;
	width: 200px;
	height: 40px;
  display: block;
  color: #ffcb5e;
}

#menu-icon {
	display: none;
	width: 50px;
	height: 50px;
  float: right;
  margin-top: -5px;
  background: image-url("menu-icon-blue.png") ;
  background-size: contain;
  z-index: 9999;
}

nav {
  position: relative;
  width: 100%;
  height: 100%;
}

.nav-list {
  list-style: none;
  float: right;
  margin-top: 0;
}

.remainder {
  position: relative;
  margin-top: 60px;
}

.nav-list-item {
  display: inline-block;
  float: left;
	padding: 10px
}

@media only screen and (max-width : 640px) {

	header {
		position: absolute;
	}

	#menu-icon {
		display:inline-block;
	}

	nav ul, nav:active ul {
		display: none;
		position: absolute;

		background: #14151E;
		border: 2px solid #444;
		top: 40px;
    left: 0px;
    max-width: 100vw;
    width: 100vw;
		border-radius: 0px 0 0px 0px;
	}

	nav li {
		text-align: center;
		width: 100%;
		padding: 10px 0;
		margin: 0;
	}

	nav:hover ul {
		display: block;
	}
}



/********** alerts *********/

.alert {
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  font-size: 20px;
  margin: 5px;
}

.alert-danger {
  color: red;
  border-color: red;
}
