/******** global **********/

@import 'ionicons';

body {
  background-color: #0D0D18
}


.box {
  border-style: solid;
  border-width: 1px;
  margin: 10px;
  padding: 5px;
  display: block;
  background-color: #1C1E28;
  border-radius: 5px;
}

.box:after {
    display:inline-block;
    width:100%;
    content:'';
}

.toprow {
  margin: 0 auto;
  width: 99%;
  position: relative;
  display: block;
}

/******** devise **********/

.devise-form {
  margin: 0 auto;
  text-align: center;
  font-size: 22px;
}

.devise-button {
  width: 300px;
  height: 40px;
  border-radius: 4px;
  color: black;
  font-size: 20px;
}

.big-input {
  width: 300px;
  height: 40px;
  color: black;
  background-color: #0D0D18;
  color: #ffcb5e;
  padding: 4px;
  font-size: 20px;
  border-radius: 4px;
}

.check-box {
  width: 25px;
  height: 25px;
  margin-top: 15px;
  margin-right: 15px;
}




/******** player card **********/

.player-card {
  border-style: solid;
  vertical-align:top;
  display: inline-block;
  border-width: 1px;
  width: 250px;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  justify-content: center;
  box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.1),
              0px 0px 10px 10px rgba(45,78,255,0.15);
}

.player-pic {
  border-radius: 100px;
  border-style: solid;
  border-width: 2px;
  display: block;
  margin: auto;
  box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.1),
              0px 0px 10px 10px rgba(45,78,255,0.15);
}

.center-pic {
  margin: 0 auto;
}

.player-info {
  margin-top: 10px;
  border-color: #e54b4b;
  border-style: solid;
  border-width: 1px 0 0 0;
}

.user-box {
  border-style: solid;
  border-width: 1px;
  margin: 2px;
  margin-left: 15px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
  height: 30px;
  text-align: center;
}

.user-header {
  margin: 0px;
  font-weight: bold;
  margin-bottom: 2px;
}

.user-money {
  margin: 0;
  color: #e54b4b;
}

/************ best available ***********/

.best-available {
  display: inline-block;
  height: 200px;
  vertical-align:top;
  padding: 5px;
  justify-content: center;

}

.best-bid-list {
  height: 130px;
  overflow-y: scroll;
  width: 90%;
}

.best-item {
  margin-left: 15px;
}

#best-av-label {
  margin-top: 0;
  margin-bottom: 4px;
}

.button-box {
  width: 100%;
}

.best-filter {
  background: black;
  border-radius: 4px;
  margin-left: 5px;
  border-color:  #28d5dc;
  border-width: 1px;
  color: #28d5dc;
}




/*****************graphs*************/

.graph {
  border-style: solid;
  position: relative;
  display: inline-block;
  border-width: 1px;
  width: 260px;
  min-width: 260px;
  border-radius: 10px;
  margin: 10px;
  padding: 5px;
  justify-content: center;
  box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.1),
              0px 0px 10px 10px rgba(45,78,255,0.15);
}



.min-graph {
  display: none;
  font-size: 24px;
  margin-left: 22px;
  margin-right: 22px;
}

.graphtitle{
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

#maxgraph1 {
  color: #00c87c;
  display: inline;
}
#maxgraph2 {
  color: #8884d8;
  display: inline;
}

#maxgraph3 {
  color: #ff6560;
  display: inline;
}

#maxgraph4 {
  color: #ffcb5e;
  display: inline;
}

#graph-shortcuts {
  height: 30px;
  padding-left: 10px;
}

.minimize {
  position: absolute;
  right: 10px;
  font-size: 28px;
  z-index: 99;
}



/****************** miscellaneous **********/

.nomination-panel {
  height: 630px;
}

.money {
  font-size: 25px;
  display: inline-block;
  margin-left: 5px;
}

.nomination-input {
  background-color: #1C1E28;
  font-size: 20px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  height: 30px;
  margin-right: 5px;
}


.num_field {
  display: inline-block;
}

.other-team {
  border-style: solid;
  border-width: 1px;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  vertical-align:top;
  display: inline-block;
  width: 270px;
}


.your-team {
  border-style: solid;
  border-width: 1px;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  vertical-align:top;
  display: inline-block;
  width: 280px;
}



input[type=number] {
  padding: 6px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 20px;
    background-color: white;
    color: black;
}

.nominate {
  padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
      background-color: #00C87C;
    border-radius: 5px;
    color: black;
}

.sell-button {
  margin-left: 5px;
  margin-right: 5px;
  box-sizing: border-box;
  background-color: #00C87C;
  border-radius: 5px;
  color: black;
  border-style: solid;
  border-width: 1px;
  width: 130px;
  height: 50px;
}

.sell-button:hover {
  background-color: #028955;
}

.cancel-auction {
  margin: 8px 0;
  box-sizing: border-box;
  background-color: #FF6560;
  border-radius: 5px;
  color: black;
  border-style: solid;
  border-width: 1px;
  width: 130px;
  height: 50px;
}

.cancel-auction:hover {
  background-color: #c14b49;
}

.bid-button {
  height: 50px;
  position: relative;
  top: -3px;
  padding: 12px 20px;
  margin: 0px 0;
  margin-bottom: 20px;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #00C87C;
  border-style: solid;
  border-width: 2px;
  border-color: #00C87C;
  font-weight: bold;
  color: #252832;
  width: 150px;
}

.bid-button:hover {
  background-color: #008e58;
  transition: background-color 1s linear;
  transition: color 1s linear;
  color: #14151E;
  border-color: #008e58;
}

.card-info {
  margin: 5px;
}

.line {
  height: 50px;
}

.bid-box {
  width: 278px;
  border-style: solid;
  border-width: 1px;
  margin: 10px;
  padding: 5px;
  display: inline-block;
  background-color: #1C1E28;
  border-radius: 5px;
  height: 200px;
}

.heading-label {
  margin-top: 5px;
  margin-left: 5px;
  margin-bottom: 0;
  color: #ffcb5e;
}

.team-header {
  margin: 0;
}

.under-list {
  margin-top: 3px;
  padding-left: 20px;
  padding-top: 2px;
  padding-right: 10px;
  border-style: solid;
  border-width: 1px 0 0px 0px;
  border-color: #e54b4b;

}

#bid-under-list {
  height: 80px;
  overflow-y: scroll;
}

.blocks {
  display: inline-block;
  ol {
    margin: 0;
  }
}

#bid_amount {
  width: 90px;
  margin-left: 5px;
  margin-right: 10px;
  margin-top: 3px;
  margin-bottom: -5px;
  background-color: #14151E;
  color: white;
  height: 50px;
}

.remove {
  background-color: #FF6560;
  color: black;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
}

.remove:hover {
  background-color: #c14b49;
  transition: background-color 1s linear;
  transition: color 1s linear;
  color: #14151E;
  border-color: #c14b49;
}

.current-user {
  color: #ffcb5e;
}

#sell_player {
  display: inline-block;

}

#unnominate {
  display: inline-block;
}

#current-bid {
  color: #e54b4b;
}

#leading-bidder {
  color: #e54b4b;
}

#switcher {
  min-height: 600px;
}



/********************** nav bar ************************/


.topnav {
    background-color: #333;
    overflow: hidden;
}


.topnav a {
    float: left;
    display: block;
    text-align: center;
    text-decoration: none;

}

.topnav a:not(:first-child) {
  float: right;
  font-size: 17px;
  color: #28d5dc;
  padding: 5px 15px;
}

.topnav a:first-child {
  font-size: 20px;
  color: #ffcb5e;
}
.nav-icon-main {
  font-size: 25px;
  padding-left: 5px;
  padding-right: 5px;
}

.nav-icon {
  font-size: 20px;
  padding-right: 10px;
}
.topnav a:not(:first-child):hover {
    background-color: #ddd;
    color: black;
}

.active {
    background-color: #4CAF50;
    color: white;
}

.topnav .iconx {
    display: none;
}


@media screen and (max-width: 670px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.iconx {
    float: right;
    display: block;
  }
}


@media screen and (max-width: 670px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.iconx {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}



/********** alerts *********/

.alert {
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  font-size: 20px;
  margin: 5px;
}

.alert-danger {
  color: red;
  border-color: red;
}



/************ reaact ani ***********/



.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}




.spicy-enter {
	opacity: .01;
	transform: scaleX(0) scaleY(0);
}

.spicy-enter.spicy-enter-active {
	opacity: 1;
	transform:  scaleX(1) scaleY(1);
	transition: all 2000ms ease-out;
}

.spicy-leave {
	opacity: 1;
	transform:  scaleX(1) scaleY(1);
}

.spicy-leave-active {
	opacity: .01;
	transform:  scaleX(0) scaleY(0);
	transition: all 2000ms ease-out;
}
