<li><%= bid.user.name %>,
  $<%=bid.amount %>
  @ <%= bid.created_at.in_time_zone(-8).strftime("%I:%M:%S:%p") %>
  <% if current_user.auctioneer %>,
    <%= link_to 'Delete', bid, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
</li>
