<div class="box nominate">
  <h4>Being bid on: </h4>
  Waiting for nomination....
  <%= form_for @draft, :url => {:action=> "nominate", :method => :patch, :controller => "drafts"} do |f| %>
    <%= f.collection_select :nominated_player_id, Player.unsold(@draft.year), :id, :player_name %>
    <%= f.submit "Nominate Player" %>
  <% end %>
</div>
