<%= link_to bid_path(bid, :bid => { :winning => true }), :method => :put, :confirm => "Sure?", html: {class: "inline-form"}, remote: true  do %>
<button class="sell-button">Sell Player</button>
<% end %>
