<div class="box">
  <h3>Drafts</h3>
<ul>
<% @drafts.each do |draft| %>
  <li><h4><%= link_to_if(draft.open, draft.year, draft) %>
    <% if !draft.open %>
      - closed!
    <% end %>
    </h4>
  </li>
<% end %>
</ul>
</div>
