<div class="box">
  <%= react_component(
    "Draft",
    props:  {draft:
              render(
                partial: "drafts/draft.json",
                locals: {
                  draft: @draft,
                  users: @users,
                  unsold_players: @unsold_players,
                  current_user: @current_user,
                  best_available: @best_available
                }
              )
            }
      )
  %>


</div>
